@import 'utilities.css';
:root{
    /* --primary:#3DCFD3; */
    /* --primary:lawngreen; */
    /* --primary:cornflowerblue; */
    /* --primary:chartreuse; */
    --primary:#FFA995;
    /* --primary:crimson; */
    /* --primary:gold; */
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smoothing:antialised;
}

/* header{
    /* background: var(--dark); */
    /* background: #FF8C00; */
    /* position: relative; */
    /* z-index: 1; */
    /* width: 100vw;
    height: 100vh; */
/* } */ 


.container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100vh;
}

.containe {
    max-width: 1315px;
    padding: 0 15px;
    margin: 0 auto;
}

.headerimg{
    position: relative;
    width: 100vw;
    height: 100vh;
    filter: brightness(70%);
}

.headerimg img{
    /* z-index: -6; */
    /* background-size: contain; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-shrink: 0;
}

.quoteline{
    position: relative;
    bottom: 2rem;
}

.quoteline h2{
    color: white;
    text-align: center;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.container2 button{
    width: 20rem;
}

.firstbuttons{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.container2 .btn1{
    margin-right: 20px;
    /* display: flex;
    justify-content: center; */
}

.container2 a{
    color: black;
    text-decoration: none;
}

.texting{
    position: relative;
    font-size: xx-large;
    bottom: 120px;
    display: flex;
    color: white;
    justify-content: center;
}

.nline{
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 4rem;
}


/* ::before{
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: "";
    background-image: url("https://images.pexels.com/photos/461049/pexels-photo-461049.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
} */

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.3s;
}

header nav .left a:hover{
    color: var(--primary);
}

header nav{
    padding: 2rem;
}

header nav .branding{
    color: white;
    margin-right: 3rem;
    height: 25px;
    width: 60px;
}

header nav .branding img{
    height: 100%;
    width: 100%;
}

#main-nav{
    display: block;
}

.nav-a{
    margin-left: auto;
}

#animated-text{
    color: var(--primary);
}

.hero .right p{
    line-height: 1.9rem;
    margin-bottom: 2rem;
}


/* -----------------------------------Freelance--------------------------------- */



/* #freelancer{
    margin-top: 30rem;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
} */


section.freelancer{
    text-align: center;
    /* background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/free-lancer-background.jpg); */
    background: #FFA995;
    /* background-repeat: no-repeat; */
    color: var(--pure);
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* clip-path: polygon(); */
}

section.freelancer h1{
    font-size: 1.8rem;
    color: black;
    margin-bottom: 0.5rem;
}

section.freelancer p{
    color: darkslategray;
    margin-bottom: 2rem;
    font-family: 'Lato',sans-serif;
}

section.freelancer a{
    color: inherit;
}

/* ------------------------------------------------Contact--------------------------------------------- */



#contactus{
    margin-top: 5rem;
}

section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    margin-bottom: 4rem;
}

section.contact .card-wrapper .card{
    text-align: center;
}

section.contact .card-wrapper .card .hiw{
    height: 20rem;
}

section.contact .card-wrapper .card .hiw img{
    margin-bottom: 3rem;
    width: 100%;
    height: 100%;
}

section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
}

section.contact .card-wrapper .card h6{
    font-size: 1.1rem;
    color: var(--ternary);
    font-weight: 400;
}

/* -----------------------------------Who Can Donate---------------------------- */

section.whocandonate{
    padding: 2rem 0;
    margin-top: 3rem;
}


#whocd ul{
    margin-top: 1.8rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

section.whocandonate h1{
    font-size: 1.8rem;
    text-align: start;
}

section.whocandonate p{
    margin-top: 1.8rem;
    margin-bottom: 2rem;
    text-align: start;
    font-size: 1.1rem;
}

/* --------------------------------------------Facts About Plasma-------------------------------- */

.factsplasma{
    padding-bottom: 5rem;
}

.factsplasma h1{
    font-size: 1.8rem;
    text-align: start;
}

.factsplasma ul{
    margin-top: 1.8rem;
    margin-bottom: 2rem;
    text-align: start;
    font-size: 1.1rem;
    margin-left: 1rem;
}

/* --------------------------------------------Save a Life--------------------------------------- */

section.savelife{
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    margin-bottom: 5rem;
    padding: 4rem 0;
}

.savelifediv{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* --------------------------------------------user contact-------------------------------------- */

#usercontact{
    margin-bottom: 5rem;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.uc div h1{
    margin-bottom: 1.8rem;
    font-size: 1.8rem;
}

#usercontact input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

#usercontact textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

#usercontact input[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    background: var(--primary);
    color: var(--secendory);
    transition: all .3s ease;
    font-size: 1.1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    text-transform: uppercase;
    border-radius: 10px;
  }

#usercontact input[type=submit]:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
  }

/* --------------------------------------------Footer-------------------------------------------- */



footer{
    /* background: var(--dark); */
    /* background: #450A0E; */
    background: #6A0A09;
    text-align: center;
    padding: 1rem 0;
}

.footer-logo-div{
    color: white;
    height: 40px;
    margin-bottom: 2.5rem;
}


footer .footer-logo{
    margin-bottom: 3rem;
    height: 100%;
}

footer .footer-socials{
    margin-bottom: 3rem;
    margin-right: -1rem;
    display: flex;
    justify-content: center;
}


footer .footer-socials a{
    margin-right: 1rem;
    background: var(--dark);
    
    align-items: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;
}

footer .footer-socials a img{
    width: 2rem;
    height: 2rem;
}


footer .copyright{
    color: white;
}


/* ------------------------------------------------Media-Queries-Related-Content-------------------------------------------------- */



.site-main-wrapper{
    position: relative;
}

.mobile-nav-logo{
    display: none;
}

#mobileheader{
    position: fixed;
    display: none;
    z-index: 1;
    width: 100vh;
    height: 70px;
    background-color: #6A0A09;
}

.hamberger{
    position: fixed;
    /* top: 40px;
    right: 30px; */
    top: 28px;
    right: 45px;
    z-index: 10;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    color: white;
}

.hamberger img{
    position: fixed;
    width: 22px;
    z-index: 10;
}

.mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: var(--light);
    width: 100%;
    height: 100%;
    padding: 1.6rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}

.open{
    transform: translateX(0);
}

.times{
    position: fixed;
    top: 30px;
    right: 30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.times img{
    width: 30px;
}

.mobile-nav ul{
    list-style-type: none;
}

.mobile-nav ul li a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
}



/* ---------------------------------------------------Media-Queries----------------------------------------------------- */



/* @media (min-width:767px){
    .container{
        max-width: 740px;
    }
} */

/* @media (max-width:1305) {
    section.whocandonate{
        padding: 2rem 0;
        margin-top: 3rem;
        margin-left: 5rem;
    } */
    
    
    /* #whocd ul{
        margin-top: 1.8rem;
        margin-left: 1rem;
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }
    
    section.whocandonate h1{
        font-size: 1.8rem;
        text-align: start;
    }
    
    section.whocandonate p{
        margin-top: 1.8rem;
        margin-bottom: 2rem;
        text-align: start;
        font-size: 1.1rem;
    } */
/* } */

@media (min-width: 768px) and (max-width: 1024px){
    header #main-nav{
        display: none;
    }
    #mobileheader{
        position: fixed;
        display: block;
    }
    .container{
        width: 750px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .containe{
        width: 750px;
        padding: 0 10px;
        margin: 0 auto;
    }
    .headerimg img{
        object-fit: cover;
    }
    .texting{
        top: -8;
        font-size: x-large;
    }
    .quoteline{
        top: 35px;
        font-size: 0.9rem;
    }
    
    .mobile-nav-logo{
        display: block;
    }
    
    .hamberger{
        margin-right: 1.8rem;
        display: block;
    }
    .nline {
        color: white;
        display: flex;
        justify-content: center;
        position: relative;
        top: 16rem;
    }
    .firstbuttons {
        display: flex;
        position: relative;
        top: 12rem;
        justify-content: center;
        margin-top: 5rem;
    }
    section.contact .card-wrapper .card .hiw {
        height: 14rem;
    }
    section {
        padding: 1rem 0;
    }
    section.freelancer{
        padding-bottom: 6rem;
    }

    .skill-main-container{
        grid-template-columns: repeat(1,1fr);
    }

    section.contact .card-wrapper .card h2{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .section-heading{
        line-height: 1;
    }

    #whocd{
        padding: 0 2rem;
    }

    section.uc h1{
        padding: 0 1rem;
    }
    #usercontact{
        padding: 0 2rem;
    }

    }

/* @media (min-width:481px){
    .container{
        max-width: 460px;
    }
} */



/* @media (min-width:481px){
    .container{
        max-width: 460px;
    }
} */


@media (min-width: 481px) and (max-width: 767px) {
    .containe{
        width: 470px;
        padding: 0 10px;
    }
    .hamberger{
        display: block;
        margin-right: 1rem;
    }
    .mobile-nav-logo{
        display: block;
    }
    header #main-nav{
        display: none;
    }
    #mobileheader{
        display: block;
    }
    .headerimg img{
        object-fit: cover;
    }
    .firstbuttons{
        flex-direction: column;
        align-items: center;
    }
    .texting{
        font-size: medium;
        top: 0;
    }
    .quoteline{
        top: 3rem;
    }
    .quoteline h2{
        font-size: 0.8rem;
    }
    .nline{
        top: 7rem;
        font-size: 12px;
    }
    .container2 button {
        width: 25rem;
        margin-bottom: 0.5rem;
        position: relative;
        top: 45px;
    }
    .section-heading{
        line-height: 1rem;
    }
    section.freelancer {
        padding-bottom: 6rem;
    }
    section.freelancer p {
        margin: 2rem 0.5rem;
    }
    
    section {
        padding: 3rem 0;
    }
    
    section.contact .card-wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .card-wrapper .card img {
        margin-bottom: 1rem;
        grid-gap: 1rem;
    }
    section.contact .input-wrap {
        grid-template-columns: repeat(1,1fr);
    }
    footer {
        padding: 2rem 0.5rem;
    }
    #skill-main-container{
        grid-template-columns: repeat(1,1fr);
    }





  }


@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}

@media (min-width:1200px){
    .container{
        /* min-width: 1152px; */
        min-width: 1315px;
        height: 100vh;
    }
}


@media (min-width: 360px) and (max-width: 480px) {

    html{
        overflow-x: hidden;
    }
    #mobileheader{
        display: block;
    }
    .containe{
        width: 330px;
        padding: 0;
    }
    .mobile-nav-logo{
        display: block;
    }
    .hamberger{
        display: block;
    }
    header #main-nav{
        display: none;
    }
    .headerimg img{
        object-fit: cover;
    }
    .texting{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .texting h1{
        font-size: 2rem;
    }
    .texting h5{
        font-size: 0.8rem;
    }
    .quoteline{
        font-size: 0.5rem;
        top: 3rem;
    }
    .nline{
        font-size: 0.6rem;
        position: relative;
        top: 10rem;
    }
    .firstbuttons{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 5rem;
    }
    .container2 .btn1 {
        margin-right: 0;
    }
    .section-heading {
        line-height: 1.2rem;
    }
    section.contact .card-wrapper .card .hiw {
        height: 55%;
    }
    .firstbuttons button{
        margin-top: 0.5rem;
    }
    section.freelancer {
        padding-bottom: 5rem;
    }
    section.freelancer p {
        margin: 2rem 0.5rem;
    }
    section.contact .card-wrapper {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
    }
    section.contact .card-wrapper .card img {
        margin-bottom: 1rem;
        grid-gap: 1rem;
    }
    section.contact .card-wrapper .card{
        margin: 8px 0px;
    }
    
    section.contact .input-wrap {
        grid-template-columns: repeat(1,1fr);
    }
    footer {
        padding: 2rem 0.5rem;
    }
    .copyright{
        font-size: 0.9rem;
    }

  }

  @media (min-width: 279px) and (max-width: 359px) {

    html{
        overflow-x: hidden;
    }
    #mobileheader{
        display: block;
    }
    .containe{
        width: 275px;
        padding: 0 10px;
    }
    .mobile-nav-logo{
        display: block;
    }
    .hamberger{
        display: block;
    }
    header #main-nav{
        display: none;
    }
    .headerimg img{
        object-fit: cover;
    }
    .texting{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .texting h1{
        font-size: 1.5rem;
    }
    .texting h5{
        font-size: 0.8rem;
    }
    .quoteline{
        font-size: 0.5rem;
        top: 3rem;
    }
    .nline{
        font-size: 0.6rem;
        position: relative;
        top: 10rem;
    }
    .firstbuttons{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 5rem;
    }
    .container2 .btn1 {
        margin-right: 0;
    }
    .section-heading {
        line-height: 1.2rem;
    }
    section.contact .card-wrapper .card .hiw {
        height: 55%;
    }
    .firstbuttons button{
        margin-top: 0.5rem;
    }
    section.freelancer {
        padding-bottom: 5rem;
    }
    section.freelancer p {
        margin: 2rem 0.5rem;
    }
    section.contact .card-wrapper {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
    }
    section.contact .card-wrapper .card img {
        margin-bottom: 1rem;
        grid-gap: 1rem;
    }
    section.contact .card-wrapper .card{
        margin: 8px 0px;
    }
    
    section.contact .input-wrap {
        grid-template-columns: repeat(1,1fr);
    }
    footer {
        padding: 2rem 0.5rem;
    }
    

  }

  @media (max-width:281px){
    *{
        overflow-y: scroll;
    }
    #animated-text{
        font-size: 2rem;
    }
  }
